<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); -%>

    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="/note-svg.svg" width="30" height="30" class="d-inline-block align-top mx-2" alt="" />
                Song Lyric Finder
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/topSongs">Top Songs</a>
                </li>
            </ul>
        </nav>

        <br />
        <div class="container">
            <h1><%- title %> - <%- artist %></h1>
            <div class="my-2">
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    style="display: flex"
                    id="likeButton"
                    onclick="likeSong()"
                >
                    <div
                        id="thumbsUp"
                        style="transition: all ease-in-out; transition-duration: 0.1s; height: 16px; width: 24px"
                    >
                        &#128077;
                    </div>

                    <div style="margin-left: 8px" id="likeCounter"><%- likeCount %></div>
                </button>
            </div>
            <b>Lyrics:</b>
            <div style="white-space: pre-wrap"><%- lyrics %></div>
        </div>
        <script>
            async function likeSong() {
                document.getElementById("likeButton").disabled = true;
                document.getElementById("thumbsUp").style.rotate = "-5deg";
                fetch("/likeSong/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        title: "<%- title %>",
                        artist: "<%- artist %>",
                        lyrics: `<%- lyrics %>`,
                    }),
                })
                    .then((res) => res.json())
                    .then((json) => {
                        if (json.error) {
                            alert("Something went wrong...");
                        } else if (json.success) {
                            document.getElementById("likeCounter").innerHTML =
                                parseInt(document.getElementById("likeCounter").innerHTML) + 1;
                        }
                    })
                    .finally(() => {
                        setTimeout(() => {
                            document.getElementById("thumbsUp").style.rotate = "0deg";
                            document.getElementById("likeButton").disabled = false;
                        }, 100);
                    });
            }
        </script>
    </body>
</html>
